.jumbotron{
	color: white;
	background-color: pink;
}
.footer{
	color: white;
	background-color: pink;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

#carouselButtons {
    right:0px;
    position: absolute;
    bottom: 0px;
}

.row-header {
	margin: 0px auto;
	padding: 0px auto;
}

.carousel {
    background:grey;
}
.carousel-item {
  height: 300px;
}
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.row-content{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	/*min-height: 400px;*/
	border-bottom: 1px ridge;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-inverse {
     background-color: black;
}